body{
  /* font-family: Gilroy, sans-serif;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("otf"), url("/fonts/Gilroy-Light.otf") format("otf"), url("/fonts/garamond_bold.otf") format("otf"), url("/fonts/garamond.otf") format("otf"); */
  background: url('img/fon1.jpg');
}

@font-face {
  font-family: Gilroy, sans-serif;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("otf"), url("/fonts/Gilroy-Light.otf") format("otf");
}
@font-face {
  font-family: Garamond, sans-serif;
  src: url("/fonts/garamond_bold.otf") format("otf"), url("/fonts/garamond.otf") format("otf");
}


.container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 8px;
}

/* header */

.header{
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: Gilroy, sans-serif;
  
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: Garamond, sans-serif;
}

/* nav */

/* .nav {
  font-size: 14px;
  text-transform: uppercase;
  
} */

.nav-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color .1s linear;
  font-size: 16px;
}



.nav-link:after {
  /* content: "";
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #333;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .1s linear; */
  position: absolute;
  content: '';
  left: 0;
  top: 20px;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  width: 0;
  transition: 0.3s;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover:after,
.nav-link.active:after {
  opacity: 1;
  width: 100%;
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
}
.menu {
  position: fixed;
  right: 0;top: 0;
  z-index: 99;
  width: 350px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
/* .menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
} */
/* .menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #333;
  left: -55px;
  top: 40px;
} */

.menu-button {
  width: 60px;
  height: 40px;
  position: absolute;
  left: -65px;
  top: 40px;
}

.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.content_active {
  transform: translateX(-30%);
}

.header-logo_active{
  transform: translateX(-100%);
}

.menu-list p{
  font-weight: 700;
}


.des{
  font-size: 60px;
}


.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70vh;
  transition: 0.5s;
  position: relative;
  z-index: 0;
  font-family: Garamond, sans-serif;
  margin-top: 80px;
}

.intro-inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  
  text-align: center;
}

.intro-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}


.intro-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;

  background-color: #fff;
}

.intro-subtitle {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}


.intro_active {
  transform: translateX(-10%);
}

.btn {
  display: inline-block;
  vertical-align: top;
  position: absolute; 
  bottom: -180px;
  transform: translateX(-50%);
  padding: 8px 30px;
  border: 3px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .1s linear, color .1s linear;
  font-family: Gilroy, sans-serif;
}

.btn:hover {
  background-color: #F0E68C;
  color: #333;
  border: 3px solid #F0E68C;
}