body{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 8px;
  font-family: Gilroy, sans-serif;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("otf"), url("/fonts/Gilroy-Light.otf") format("otf");
}


